name: Generate ASCII atwork

on: push

jobs:
    ascii_job:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout Repo
              uses: actions/checkout@v6

            - name: List Repo Files
              run: ls -ltra    
                
            - name: Executing shell Scripts
              run: |
                pwd
                ls -la
                chmod +x ascii-script.sh
                ./ascii-script.sh
