name: Generate ASCII atwork

on: push

jobs:
    first_job:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout Repo
              uses: actions/checkout@v6

            - name: List Repo Files
              run: ls -ltra    
                
            - name: Executing shell Scripts
              run: ./ascii.script.sh